extends ../layout

block content
  .container.detail
    .container.title
      h1.main-title= event.title
    hr
    .container.event.location
      h3 장소
      .p= event.location
    
    .container.event.date
      h3 날짜
      .p= event.date_start +' ~ ' + event.date_end

    .container.event.desc
      h3 상세 설명
      .p= event.description

    .container.event.payment
      h3 가격
      .p= event.payment

    .container.event.evt_type
      h3 이벤트 종류
      .p= event.evt_type

    .container.event.evt_topic
      h3 이벤트 주제
      .p= event.evt_topic
    
    .container.event.org_nameNcomment
      h3 등록 조직의 이름 / 상세설명
      .p= event.org_name
      .p /
      .p= event.org_comment

  if event.author.id == currentUser.id
    a.btn.btn-outline-primary(href=`/events/${event._id}/edit`) Edit
    |
    |
    a.btn.btn.need-confirm-btn.btn-outline-danger(href=`/events/${event._id}?_method=DELETE`) Delete
  |
  |
  a.btn.btn-outline-secondary(href='/events') Back
  hr
  if event.author.id == currentUser.id && event.numJoined > 0
    h3 #{event.numJoined} Joined
    .entrylist.show
      each entrylist in entrylists
        .p= entrylist.author.name
        
  hr
  
  //참가한 자신 목록에서 삭제
  //each entrylist in entrylists
    if(entrylist.author.id == currentUser.id)
      a.btn.btn-sm.need-confirm-btn.btn-outline-danger(href=`/events/${event._id}/entry?_method=DELETE`) Cancel
  if currentUser
    form(action=`/events/${event.id}/entry`, method='POST')
      button.btn.btn-primary(type="submit") Join

  